/* title area */
.cover{
  background-image: url('https://images.unsplash.com/photo-1519897831810-a9a01aceccd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -180px;
  Width: 100%;
  height: 550px; 
  /* padding:60px 20px; */
}
    
.titletext{
  padding: 10% 7%;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #6e6e6e;
  font-style: italic;
}
  
.googlebtn{
  margin-top: 10%;
  margin-right: 2%;
}

/* Agrolly Affiliates */

.agrollyAffiliates{
  margin:3%;
  text-align: center;
}

/* What is agrolly */

.agrollyDescription{
  background-color: #FBD87A;
  padding: 3% 5%;
      display: grid;
      grid-template-columns: 1fr ;
}


/* homepage news */

.homepagenews{
  margin: 3%;
}

/* partnership section  */

.partnerlogo{
  margin: 3%;
  /* text-align: center; */
}

@supports (grid-area: auto) {

	@media screen and (min-width: 60em) {
    .cover{
      background-position: center center;
      background-size: 100% ;
      background-repeat: no-repeat;
      height: 600px;
    }
		.agrollyDescription{
      padding: 7% 10%;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

  }
  
}

